<!DOCTYPE html>
<html lang="nb">

{% include head.html %}

<body id="page-top">

  {% include nav.html %}
  {% include header.html %}

  <!-- «Feltarbeid, fra havet.»-seksjonen -->
  {% include call-to-action.html %}

  <!-- Flåte  -->
  {% include fleet.html %}

  <!-- Portefølje / tjenester -->
  {% include portfolio.html %}

  <!-- Profiler (tidligere “services”) -->
  {% include services.html %}

  <!-- Kontakt -->
  {% include contact.html %}

  {% include credits.html %}

  {% include scripts.html %}

</body>
</html>
